@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gecko Insurance</h1>
    <p class="lead">Gecko Insurance is a farse. Don't call us.</p>
    <p><a href="https://wefuckingtried.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Here at Gecko, we dont stand for anything.
        </p>
        @Html.ActionLink("Get a Quote!", "Create", "Insuree")
        <p><input type="button" value="Get a Quote!" class="btn btn-default" onclick="window.location.href='@Url.Action("Create", "Insuree")'"></p>
    </div>
    <div class="col-md-4">
        <h2>Are you happy?</h2>
        <p>It's time to fit more disappointment into your life! Gecko can help.</p>
        <p><input type="button" value="Get a Quote!" class="btn btn-default" onclick="window.location.href='@Url.Action("Create", "Insuree")'"></p>
    </div>
    <div class="col-md-4">
        <h2>No Background Needed!</h2>
        <p>You can easily find a policy to cause you pain.</p>
        <p><input type="button" value="Get a Quote!" class="btn btn-default" onclick="window.location.href='@Url.Action("Create", "Insuree")'"></p>
    </div>
</div>